html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: $white;
}

h1, h2, h3, p {
    margin-top: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: $whiteGrey;
    line-height: 1.3;
    background-color: $darkBlueMainBg;
}


.grid-c {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-fs {
        align-items: flex-start;
    }

    &-jc-c {
        justify-content: center;
    }
}

.button {
    display: block;
    margin: auto;
    padding-block: 0.9rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: $white;
    border-radius: 3rem;
    background-color: $blue;

    transition: background-color 300ms ease-in-out;

    &:hover, &:focus {
        background-color: $cyan;
    }
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}