// color
$darkBlueIntro: hsl(217, 28%, 15%);
$darkBlueMainBg: hsl(218, 28%, 13%);
$darkBlueFooter: hsl(216, 53%, 9%);
$darkBlueTestimonial: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);
$whiteGrey: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 100%);

// padding
$p-x: 1.75rem;
$px-l: 6.5rem;

// font
$fs-xl: 2.5rem;
$fs-l: 1.4rem;
$fs-m: 1rem;
$fs-s: 0.5rem;
